<a href="https://colab.research.google.com/github/CVanchieri/HackerNews-app/blob/master/HackerNewsDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
full_db = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/DataSets/master/HackerNews/hn_full.csv')
print(full_db.shape)
full_db.head(50)

(16000, 8)

                                                title  ... ranking
0                                                 NaN  ...     NaN
1                                                 NaN  ...     NaN
2                                                 NaN  ...     NaN
3                                                 NaN  ...     NaN
4                                                 NaN  ...     NaN
5   IOTA gives out 2M dollars for its open source ...  ...     NaN
6                                                 NaN  ...     NaN
7                                                 NaN  ...     NaN
8                                                 NaN  ...     NaN
9   Deceiving sky reveals how China steals tech se...  ...     NaN
10                                                NaN  ...     NaN
11                                                NaN  ...     NaN
12  Ask HN: What is your process when you have a p...  ...     NaN
13                                                NaN  ...     NaN
14                                                NaN  ...     NaN
15                                                NaN  ...     NaN
16                                                NaN  ...     NaN
17                                                NaN  ...     NaN
18                                                NaN  ...     NaN
19                                                NaN  ...     NaN
20                                                NaN  ...     NaN
21                                                NaN  ...     NaN
22                                                NaN  ...     NaN
23  Google AppEngine Blog: Develop in the cloud wi...  ...     NaN
24                                                NaN  ...     NaN
25                                                NaN  ...     NaN
26                                                NaN  ...     NaN
27                                                NaN  ...     NaN
28                                                NaN  ...     NaN
29                                                NaN  ...     NaN
30                                                NaN  ...     NaN
31                                                NaN  ...     NaN
32                                                NaN  ...     NaN
33                                                NaN  ...     NaN
34     See your GitHub projects progress in a glance.  ...     NaN
35                                                NaN  ...     NaN
36                                                NaN  ...     NaN
37                                                NaN  ...     NaN
38                                                NaN  ...     NaN
39                                                NaN  ...     NaN
40  Now at the Sands Casino: An Iranian Hacker in ...  ...     NaN
41  Introducing new APIs to improve augmented real...  ...     NaN
42                                                NaN  ...     NaN
43                                                NaN  ...     NaN
44  Physicist discovers new 2-D material that coul...  ...     NaN
45                                                NaN  ...     NaN
46                                                NaN  ...     NaN
47                                                NaN  ...     NaN
48                       Responsive Web Design [2010]  ...     NaN
49                                                NaN  ...     NaN

[50 rows x 8 columns]

In [3]:
full_db.isna().sum()

title        13522
text          2718
score        13510
timestamp       18
type             0
id               0
parent        2609
ranking      16000
dtype: int64

In [4]:
full_db_comments = full_db[full_db.type == "comment"]
print(full_db_comments.shape)
full_db_comments.head(10)

(13391, 8)

   title  ... ranking
0    NaN  ...     NaN
1    NaN  ...     NaN
2    NaN  ...     NaN
3    NaN  ...     NaN
4    NaN  ...     NaN
6    NaN  ...     NaN
7    NaN  ...     NaN
8    NaN  ...     NaN
10   NaN  ...     NaN
11   NaN  ...     NaN

[10 rows x 8 columns]

In [5]:
full_db_comments.isna().sum()

title        13391
text           355
score        13391
timestamp        0
type             0
id               0
parent           0
ranking      13391
dtype: int64

In [6]:
full_db_comments = full_db_comments.drop(columns=['score', 'ranking'])
print(full_db_comments.shape)
full_db_comments.head(10)

(13391, 6)

   title  ...      parent
0    NaN  ...   4899423.0
1    NaN  ...  17167704.0
2    NaN  ...   9717858.0
3    NaN  ...  14591869.0
4    NaN  ...  15956451.0
6    NaN  ...  15197719.0
7    NaN  ...     71679.0
8    NaN  ...  13094854.0
10   NaN  ...  18778674.0
11   NaN  ...  12455333.0

[10 rows x 6 columns]